{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}">
{% endblock %}
{% block body %}
<p>
  <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Select A Range
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
	<form>
	  <div class="row">
	    <div class="col">
		  <div class="form-group">
		  	<label for="datepicker_s">From:</label>
			<input type="text" class="form-control" id="datepicker_s" aria-describedby="dateHelp" placeholder="Choose Date">
		  	<small id="dateHelp" class="form-text text-muted">Select the first date you want displayed.</small>
		  </div>
	    </div>
	    <div class="col">
		  <div class="form-group">
		  	<label for="datepicker_e">To:</label>
			<input type="text" class="form-control" id="datepicker_e" aria-describedby="dateHelp" placeholder="Choose Date">
		  	<small id="dateHelp" class="form-text text-muted">Select the last date you want displayed.</small>
		  </div>
	    </div>
	  </div>
	  <a href="{{path('attendance_list', {'c': choir.id, 'ch': chorister.id})}}" id="show_with_range" class="btn btn-primary">Show Rehearsals</a>
	</form>  	
  </div>
</div>	
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Attendance - {{chorister.name}}</h5>
	<table class="table table-striped table-sm" style="font-size:12px;">
	  <thead>
	    <tr>
	      <th scope="col">Rehearsal</th>
	      <th scope="col">Time</th>
	      <th scope="col">Songs Done</th>
	      <th scope="col">Arrived</th>
	      <th scope="col">Left</th>
	      <th scope="col">Full Attendance</th>
	      <th scope="col">Missed</th>
	    </tr>
	  </thead>
	  <tbody>
	{% for info in bulk_info %}
		{% if info.time_in is not null %}
	    <tr>
	      <td scope="row">{{info.rehearsal.day|date("l jS F")}}</td>
	      <td> {{info.rehearsal.starttime|date("g:i A")}} to {{info.rehearsal.endtime|date("g:i A")}}</td>
	      <td>
	      	<ul>
	      	{% for plan in info.plans %}
	      		{% set todo = plan.todo == "Chorus" ? "Chorus" : "P/V" ~ plan.todo %}
	      		<li>[{{todo}}] {{plan.song.title}} - {{plan.commence|date("g:i A") ~ '-' ~ plan.conclude|date("g:i A")}}</li>
	      	{% else %}
	      		No plans for this rehearsal
	      	{% endfor %}
	      	</ul>
	      </td>
	      <td>
	      	{{info.time_in|date("g:i A")}} {% if info.found_done != null %} - Did '{{info.plan_found.song.title}}' for about
	      	{{info.found_done|abs}} minutes {% endif %}
	      </td>
	      <td>
	      	{{info.time_out|date("g:i A")}} {% if info.left_done != null %} - Did '{{info.plan_left.song.title}}' for about
	      	{{info.left_done|abs}} minutes {% endif %}
	      </td>
	      <td>
	      	<ul>
	      	{% for plan in info.plans_attended %}
	      		<li>{{plan.song.title}}</li>
	      	{% else %}
	      		No song fully attended
	      	{% endfor %}
	      	</ul>
	      </td>
	      <td>
	      	<ul>
	      	{% for plan in info.plans_missed %}
	      		<li>{{plan.song.title}}</li>
	      	{% else %}
	      		No song fully missed
	      	{% endfor %}
	      	</ul>
	      </td>
	    </tr>
	{% else %}
		<tr>
	      	<td scope="row">{{info.rehearsal.day|date("l jS F")}}</td>
	      	<td> {{info.rehearsal.starttime|date("g:i A")}} to {{info.rehearsal.endtime|date("g:i A")}}</td>
	      	<td>
		      	<ul>
		      	{% for plan in info.plans %}
		      		<li>{{plan.song.title}} - {{plan.commence|date("g:i A") ~ '-' ~ plan.conclude|date("g:i A")}}</li>
		      	{% else %}
		      		No plans for this rehearsal
		      	{% endfor %}
		      	</ul>
	      	</td>
			<td>Absent</td>
			<td>Absent</td>
			<td>Absent</td>
			<td>Absent</td>
		</tr>
	{% endif %}
	{% endfor %}
	  </tbody>
	</table>	
	
  </div>
</div>

{% endblock body %}
{% block javascripts %}
  <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>	
  <script src="{{asset('js/jquery.timepicker.min.js')}}"></script>	
	<script>
	  $( function() {
	    $( "#datepicker_s" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  } );
	</script>
	<script>
	  $( function() {
	    $( "#datepicker_e" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  } );
	</script>
  <script>
    $(document).on('change', '[id^="datepicker_"]', function(){

      	var href = $("#show_with_range").attr('href');
      	var value = $(this).val();

      	var id = jQuery(this).attr("id");
      	var id_parts = id.split('_');
      	var which = id_parts[1];

		var url = href+"&"+which+"="+value;
		$("#show_with_range").attr("href", url);
		      // document.location = url;
		
    });
  </script>

{% endblock %}