{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">Rehearsals</h5>
        <div class="list-group">
          {% for rehearsal in rehearsals %}
            <a href="{{path('rehearsal_show', {'id': rehearsal.id, 'c': choir.id})}}" class="list-group-item list-group-item-action">{{rehearsal.day|date("l jS F")}} [{{rehearsal.starttime|date("h:i A")}} to {{rehearsal.endtime|date("h:i A")}}] </a>
          {% endfor %}
          <a href="{{path('rehearsal_new', {'c': choir.id })}}" class="list-group-item list-group-item-action active">+ Add Rehearsal</a>
        </div>
      </div>
    </div>
    
{% endblock %}
