{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}">
{% endblock %}
{% block body %}
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Add Rehearsal</h5>
	<form id="form">
	  <div class="form-group">
	    <label for="commence">Commence</label>
	    <input type="text" class="form-control timepicker" id="commence" aria-describedby="commenceHelp" placeholder="Commence at">
	    <small id="commenceHelp" class="form-text text-muted">Type the commencing time then hit Enter or Tab.</small>
	  </div>
	  <div class="form-group">
	    <label for="conclude">Conclude</label>
	    <input type="text" class="form-control timepicker" id="conclude" aria-describedby="concludeHelp" placeholder="Conclude at">
	    <small id="concludeHelp" class="form-text text-muted">Type the concluding time then hit Enter or Tab.</small>
	  </div>
	  <div class="form-group">
	  	<label for="datepicker">Date</label>
		<input type="text" class="form-control" id="datepicker" aria-describedby="dateHelp" placeholder="Choose Date">
	  	<small id="dateHelp" class="form-text text-muted">Select the rehearsal date.</small>
	  </div>
	  <button type="button" id="save" class="btn btn-primary">Save Rehearsal</button>
	  <br />
	  <a href="{{ path('rehearsal_index', {'c': choir.id}) }}">Back to the list</a>
	</form>
  </div>
</div>

{% endblock body %}
{% block javascripts %}
	<script type="text/javascript">
	      $(function() {
			$('.timepicker').timepicker({
			    timeFormat: 'HH:mm p',
			    interval: 5,
			    minTime: '6',
			    maxTime: '11:59pm',
			    defaultTime: '5',
			    startTime: '00:00',
			    dynamic: false,
			    dropdown: true,
			    scrollbar: true
			});
	      });
	</script>
  <script src="{{asset('js/jquery-ui-1.9.2.custom.min.js')}}"></script>	
  <script src="{{asset('js/jquery.timepicker.min.js')}}"></script>	
	<script>
	  $( function() {
	    $( "#datepicker" ).datepicker({
	    	dateFormat: "yy-mm-dd"
	    });
	  } );
	</script>
  <script type="text/javascript">
    $(function() {
      // $("#commence").focus();
    });
  </script>
	<script>
	  $(document).on('click', '#save', function(){
			var commence = $('#commence').val();
			var conclude = $('#conclude').val();
			var day = $('#datepicker').val();

			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
				"return": 'getDay',
				"entity": 'Rehearsal',
				"choir": '{{choir.id}}',
				"fields": ['starttime', 'endtime', 'day'],
				"values": [commence, conclude, day],
	        },
	        async: true,
	        success: function (data)
	        {
				console.log(data);
				$("#commence").val('');
				$("#conclude").val('');
				$("#datepicker").val('');
				$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		    error: function (xhr, status, error) {
				console.log('error');
		    }
	    });

	  });
	</script>
	<script>
	$(document).on('keyup', '#commence',function (e){
			$('#save').html('Save Rehearsal').removeClass('btn-success').addClass('btn-primary');
	});
	</script>
	<script>
		$(document).on('keypress', '#conclude', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save Rehearsal').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>
{% endblock %}
